In [4]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [7]:
from pymongo import MongoClient
client=MongoClient('mongodb+srv://hirthicksiva007:_GkR7t94KftPy#h@cluster0.ga1hakh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')

db=client['student_db']
collection=db['student1']

document={"name": "John Doe", "age": 25, "grade": "A"}
insert_doc=collection.insert_one(document)

print("inserted Document Successfully")

inserted Document Successfully

In [9]:
# Counting all documents in the collection
document_count = collection.count_documents({})

print(f"Total documents in the collection: {document_count}")

Total documents in the collection: 2

In [10]:
# List of documents to be inserted
multiple_documents = [
    {"name": "Alice", "age": 22, "grade": "B"},
    {"name": "Bob", "age": 24, "grade": "B"},
    {"name": "Charlie", "age": 23, "grade": "C"}
]

# Inserting multiple documents into the collection
insert_result = collection.insert_many(multiple_documents)

# Print the ids of the inserted documents
print(f"Inserted documents with ids: {insert_result.inserted_ids}")

Inserted documents with ids: [ObjectId('66105e1faf7c189ab9d8ba8e'), ObjectId('66105e1faf7c189ab9d8ba8f'), ObjectId('66105e1faf7c189ab9d8ba90')]

In [11]:
# Finding documents where the grade is "A"
results = collection.find({"grade": "A"})

# Printing the results
for result in results:
    print(result)

{'_id': ObjectId('66105a8aaf7c189ab9d8ba8b'), 'name': 'John Doe', 'age': 25, 'grade': 'A'}
{'_id': ObjectId('66105d73af7c189ab9d8ba8d'), 'name': 'John Doe', 'age': 25, 'grade': 'A'}

In [14]:
# Updating a document
update_result = collection.update_one({"name": "John Doe"}, {"$set": {"age": 26}})

In [5]:
#Delete documents
db.students_records.delete_one({"name": "Alice"})

In [17]:
# Deleting a document
delete_result = collection.delete_one({"name": "Alice"})

# Checking if a document was deleted and printing the result
if delete_result.deleted_count > 0:
    print("Document deleted successfully.")
else:
    print("No documents matched the query. No deletion occurred.")

Document deleted successfully.